main{
  height: 80vh;
  overflow: auto;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
li {
  list-style-type: none;
  width: 352px;
  height: 270px;
  padding: 25px 25px 50px;
}
a {
  color: rgb(175, 13, 13);
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
}
.imgPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}
p {
  color: rgb(123, 70, 27);
  margin-top: 0%;
  text-align: center;
}
